body {
    font-size: 16px;
    text-align: center;
    color:black;
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 40px;
    text-align: center;
}

div {
    background-color: white;
    color:black;
    width: 40%;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
    padding: 5px;
}

.footer {
    bottom: 10px;
    left: 30%;
    font-size: 12px;
    padding: 5px;
}

#mainPhoto {
    top: 100px;
    position: relative;
}

.portfolioImage {
    height: 200px;
}

#Upwork {
    height: 26px;
}

.contact {
    font-size: 30px;
    position: fixed;
    right: 10px;
    width: 50px;
    top: 45%;
}