body {
    font-size: 16px;
    text-align: center;
    color: black;
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Cinzel', serif;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.easierReading {
    background-color: white;
    color: black;
    width: 50%;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
    padding: 5px;
}

.emailSigBackground {
    background-color: white;
    color: black;
    display: block;
    text-align:left;
    width:50%;
    border-radius: 20px;
    padding:5px;
}

#mainPhoto {
    top: 100px;
    position: relative;
    height: 500px;
    width: auto;
}

a {
    margin: 5px auto;

}

.portfolioImage {
    height: 100%;
    margin: 3px auto;

}

.emailSigImage {
    width: 600px;
    height: auto;
    margin: 0 auto;
    display:block;
}

#Upwork {
    height: 26px;
    width: auto;
}

.contact {
    font-size: 30px;
    position: fixed;
    right: 10px;
    width: 50px;
    top: 45%;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.contactPage {
    font-size: 30px;
    display: flex;
}

#charlene {
    border-radius: 50%;
    height: 400px;
    width: auto;
}

label {
    padding: 5px;
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin: 5px auto;
    resize: vertical;
}

button {
    height: 50px;
    width: 100px;
    background: black;
    border-radius: 10px;
    color: white;
    font-family: 'Cinzel', serif;
}

.portfolioImage{
    height: auto;
    width: 100%;
}

input {
    height: 20px;
    border-radius: 5px;
    width: 80%;
}

textarea {
    margin: 5px;
    border-radius: 5px;
    width: 80%;
    height: 40px;
}

table {
    width: 600px;
    margin: 0 auto;
    position: relative;
}

@media only screen and (max-width: 600px) {
    img {
        height: auto;
        width: 100%;
    }

    .contact {
        display: none;
    }

    .contactPage {
        font-size: 30px;
        width: 90%;
        display: flex;
    }

    .easierReading {
        background-color: white;
        color: black;
        width: 90%;
        display: block;
        margin: 5px auto;
        border-radius: 20px;
        padding: 5px;
    }

    .footer {
        font-size: 10px;
        padding: 5px;
        position: fixed;
        bottom: 10px;
        width: 100%;
    }

    label {
        width: 97%;
        height: 10%;
        font-size: 30px;
        border-radius: 10px;
        display: block;
        margin: 0px auto;
        resize: vertical;
    }

}
